:root {
    --primary: rgb(82, 12, 12);
    --secondary: rgb(88, 34, 150);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
html {
font-size: 18px;
font-family: "Nunito", sans-serif;
}

html, body {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
}
img {
max-width: 100px;
max-height: 100px;
}

ul {
list-style: none;
margin: 0;
padding: 0;
}

button {
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    font: inherit;
    outline: 0;
}
button:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

pre {
    max-width: 100%;
}

a:hover,
button:hover,
.nuxt-link-exact-active,
.nuxt-link-active {
    color: var(--primary);
}


/* transitions */

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

@keyframes bounceIn {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounceOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(0);
    }
}

.bounce-enter-active {
    transform-origin: top;
    animation: bounceIn 0.8s;
}

.bounce-leave-active {
    transform-origin: top;
    animation: bounceOut 0.5s;
}
